
$color-primary: #009595;
$color-primary-hover: #007070;
$color-primary-press: #004A4A;
$color-primary-disable: #99E3E3;
$color-primary-bg-default: #E0F7F7;
$color-primary-bg-hover: #D6F4F4;

$color-error-default: #D61E20;
$color-error-hover: #AB181A;
$color-error-press: #801213;
$color-error-disable: #EFA5A6;
$color-error-bg: #FAE4E4;

$color-neutral-default: #333333;
$color-neutral-default-st1: #7F7F7F;
$color-neutral-hover-st1: #666666;
$color-neutral-press-st1: #4c4c4c;
$color-neutral-hover: #B3B3B3;
$color-neutral-press: #999999;
$color-neutral-disable: #cccccc;
$color-neutral-bg-hover: #F0F0F0;
$color-neutral-bg-press: #EBEBEB;

$color-info-default: #0172B4;
$color-info-hover: #015687;
$color-info-press: #00395A;
$color-info-disable: #99D2F3;

$color-success-default: #17B24A;
$color-success-bg: #E3F6E9;

$separator: #E5E5EA;
$white: #ffffff;
$black: #000000;
$number-color: #191919;
$bg-color: #F0F0F0;
$border-color:#E6E6E6;

$font-primary: 'Inter';

$font-size-title3: 18px;
$font-size-body1: 16px;
$font-size-body2: 14px;
$font-size-caption: 12px;

$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;


$xl-radius: 16px;
$lg-radius: 12px;
$md-radius: 8px;
$sm-radius: 4px;

