@use "@/assets/styles/variables" as *;
@use "@/assets/styles/mixins" as *;
@use "@/assets/styles/grid" as *;


body {
  font-family: $font-primary;
  color: $color-neutral-default;
  background-color: $bg-color;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

:root {
  --primary: #{$color-primary};
  --error: #{$color-error-default};
  --white: #{$white};
  --black: #{$black};
  --neutral-default: #{$color-neutral-default};
}

.data-title {
  @include body1;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.data-index {
  @include caption1;
  background-color: $color-neutral-bg-hover;
  border-radius: $sm-radius;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}